h1 {
    padding-top: 5px;
    text-align: center;
}

.about {
    padding-top: 10%;
    padding-bottom: 5%;
    margin: auto;
    width: 30%;
    text-align: justify;
}

.github {
    margin-top: 20px;
    bottom: 0;
    display: block;
    margin: auto;
}